<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!--
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    -->

    @Styles.Render("~/Content/css")

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        @Html.ActionLink("housemaker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul class="nav navbar-nav">
                <li class="nav-item">@Html.ActionLink("Альбом", "Album", "Home", new { area = "" }, new { @class = "nav-link active" })</li>
                <li class="nav-item">@Html.ActionLink("О нас", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Контакт", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Carousel", "Index", "CarouselItems", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Books", "Index", "Book", new { area = "" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Misc", "Contact", "Home", new { area = "" }, new { @class = "nav-link disabled" })</li>
            </ul>

        </div>
        @Html.Partial("_LoginPartial")
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – housemaker</p>
        </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../scripts/jquery-1.10.2.min.js"><\/script>')</script>
    -->

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/popover")

    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/modernizr")

    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    @Scripts.Render("~/bundles/holder.min.js")

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    @Scripts.Render("~/bundles/ie10-viewport-bug-workaround.js")

    <script type="text/javascript">

        $(document).ready(function () {

            $('.carousel').carousel();

        });

        $('[data-toggle="tooltip"]').tooltip();
                        
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
