@model IEnumerable<themesite.Models.MenuListItem>

<ul class="sidebar-menu">
    @{foreach (var item in Model)
        {
            if (item.IsRootElement)
            {
                <li class="">
                    <a href="/@item.ControllerName/@item.ActionName" class="">
                        <i class="@item.CssClass"></i>
                        @item.Name
                    </a>
                </li>
            }
            else if (item.HasChilds)
            {
                <li class="sub-menu">
                    <a class="" href="javascript:;">
                        <i class="@item.CssClass"></i>
                        @item.Name
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        @foreach (var subItem in (Model.Where(s => s.ParentId == item.Id).ToList()))
                        {
                            <li class="@item.ElementStyle">
                                <a href="/@subItem.ControllerName/@subItem.ActionName" class="">
                                    <i class="@subItem.CssClass"></i>
                                    @subItem.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        }
    }
</ul>
